<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        {% for i in user %}
        <tr>
            <td>{{i.user_name}}</td>
            <td><a href="{% url 'User:chat' i.id %}">Chat</a></td>
        </tr>
        {% endfor %}
        <!-- <input type="file" name="photo" id="photo">
        <button id="pic" onclick="getPhoto()" type="submit">Add</button> -->
    </table>
</body>

</html>